body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #517358;
}

a {
  color: #00B7FF;
}

textarea {
  width: 60vw;
  height: 30vh;
}

.navCustom {
  background-color: #2b302c;
}

.navLink {
  color: white;
  display: inline;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.bodyBg {
  background-color: #517358;
}

.landingPage {
  background: url('../images/barrels.jpg');
  padding-bottom: 230px;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.tableCustom {
  margin-top: 30px;
  width: 1150px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.beerLink:hover {
  cursor: pointer;
}

.divBeerIndex {
  display: flex;
  justify-content: center;
}

.buttonCustom {
  font-size: 40px;
  height: 80px;
  width: 200px;
  text-align: center;
  color: #FFFFFF;
  background: transparent;
  border: solid 10px #A9A9A9;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
}

.buttonCustom:hover {
  color: #A9A9A9;
  background: #FFFFFF;
  border: solid 5px #A9A9A9;
}

.divNewBeer {
  margin-left: 50px;
}

.divNewBeer td {
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  font-size: 20px;
  color: white;
  padding: 15px;
}

#divShow {
  display: flex;
}

#divBeerShow {
  background-color: #2b302c;
  flex: 1;
}

#divReviewShow {
  flex: 4;
  margin: 20px;
}

#divBreweryShow {
  flex: 1;
  margin: 20px;
}

.label {
  font-size: 20px;
  color: white;
  padding: 0 15px;
}

.value {
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  font-size: 40px;
  color: white;
  padding: 0 15px;
}

#divReviewShow>h1,
#divBreweryShow>h1 {
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  font-size: 40px;
  color: #2b302c;
}

#reviewContainer {
  width: 30vw;
  margin: 10px;

}

#reviewHeader {
  display: flex;
}

.checked {
  color: orange;
}

.reviewChange {
  /* margin-right: 1rem; */
  display: inline-block;
  background: #c0c1ce;
  color: #2b302c;
  padding: 0.1rem 1.0rem;
  border-radius: 2rem;
  font-weight: 600;
  /* margin-bottom: 0.5rem; */
}

.divEditReview {
  margin-left: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  font-size: 30px;
  color: #2b302c;
  padding: 15px;
}

#login {
  animation: flashing 1s linear infinite;
}

@keyframes flashing {
  50% {
    opacity: 0;
  }
}