<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
        <label>Update Review:</label>
        <input name="reviewUpdate" value="<%= review.content %>">
        <label>Rating:</label>
        <select name="ratingUpdate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <button type="submit">UPDATE</button>
    </form>

</body>

</html>